@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 27, 34);
    color: white;
    height: 100vh;
}

.container {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: 'Short Stack', cursive;

}

.quote {
    padding: 2rem;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
}



.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #586678;
    background-color: #e0e8ef;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 40px 40px 40px 40px;
    padding: 16px 24px 16px 28px;
    transform: translate(0px, 0px) rotate(0deg);
    transition: all 0.3s ease-in-out;
    box-shadow: -4px -2px 16px 0px #8dc9fa, 4px 2px 16px 0px rgb(95 157 231 / 48%);
}

.btn:hover {
    color: #ffffff;
    text-shadow: #d9dadb;
    background-color: #78acd7;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
}

.btn:active {
    box-shadow: none;
}